@font-face {
  font-family: "Crimson";
  src: url("/fonts/Crimson/crimson-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Crimson";
  src: url("/fonts/Crimson/crimson-400-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Crimson";
  src: url("/fonts/Crimson/crimson-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Crimson";
  src: url("/fonts/Crimson/crimson-700-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "IoskeleyMono";
  src: url("/fonts/IosevkaMono/IoskeleyMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IoskeleyMono";
  src: url("/fonts/IosevkaMono/IoskeleyMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "IoskeleyMono";
  src: url("/fonts/IosevkaMono/IoskeleyMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/InterVariable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/InterVariable-Italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Utopia";
  src: url("/fonts/utopia/utopia-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-bg: hsl(0, 0%, 12%);
  --color-text: hsl(55, 7%, 85%);
  --color-text-muted: #8492a6;
  --color-heading: hsl(55, 7%, 92%);
  --color-link: #8fadcc;
  --color-code-bg: #1e1e1e;
  --color-border: #393939;
  --color-footnote: #dde1e6;
  --color-footnote-marker: #f2f4f8;
  --color-selection-bg: #8fadcc;
  --color-selection-text: #000000;
}

body {
  max-width: 68ch;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  margin: 4rem auto;
  padding: 0 1.25rem;
  font-size: 1.1em;
  line-height: 1.6;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100vw;
    font-size: 0.9em;
  }
}

header {
  margin-bottom: 2em;
}

p,
li {
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
}
p {
  margin-bottom: 1.2em;
}
li {
  margin-bottom: 0.6em;
}

time {
  display: block;
  color: var(--color-text-muted);
  margin-bottom: 1.3em;
  font-family: "Utopia", serif;
}

h1 {
  font-size: 1.7em;
  line-height: 1.25;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 0.8em;
}
h3 {
  font-size: 1.3em;
  margin-top: 1.7em;
}

h1,
h2,
h3 {
  font-family: "Utopia", serif;
  color: var(--color-heading);
}

a {
  font-family: "Inter", sans-serif;
  padding: 0.1em 0;
  text-decoration: underline;
  color: var(--color-link);
}

/* a[href^="http"]::after { */
/*   content: "↗"; */
/*   font-size: 0.8em; */
/*   margin-left: 0.2em; */
/* } */

::selection {
  background: var(--color-selection-bg);
  color: var(--color-selection-text);
}

/* .links { */
/*   font-size: 0.9em; */
/*   margin-bottom: 2rem; */
/* } */

.post {
  font-size: 1em;
  margin: 0 auto;
}
.post-date {
  color: var(--color-text-muted);
  /* font-family: "Inter", serif; */
}
.post-link {
  font-family: "Inter", serif;
  text-decoration: none;
  color: var(--color-text);
}
.post-link:hover {
  text-decoration: underline;
}

code,
pre {
  font-family: "IoskeleyMono", monospace;
}

code {
  font-size: 0.9em;
  background: var(--color-code-bg);
  border-radius: 4px;
}

pre {
  font-size: 0.85em;
  border: 1px solid var(--color-border);
  padding: 10px;
  overflow-x: auto;
  line-height: 1.4;
  border-radius: 6px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  max-width: 100%;
  height: auto;
}

.footnotes {
  margin-top: 2em;
  color: var(--color-footnote);
}

.footnotes hr {
  display: none;
}

.footnotes ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footnotes li {
  margin-bottom: 1em;
  counter-increment: list-item;
}

.footnotes li p {
  margin-bottom: 1em;
  display: inline;
}

.footnotes li::before {
  content: "[" counter(list-item) "] ";
  color: var(--color-footnote-marker);
}

.footnote-ref {
  font-size: 1em;
  vertical-align: baseline;
}

.footnote-ref::before {
  content: "[";
}

.footnote-ref::after {
  content: "]";
}

.footnote-backref {
  font-size: 0;
  text-decoration: none;
}

.footnote-backref::after {
  content: "↩";
  font-size: 1rem;
  color: var(--color-link);
}

.footnote-backref:hover::after {
  color: var(--color-link);
}
