{{define "base.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{.Description}}">
  <meta name="author" content="{{.SiteAuthor}}">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/highlight.css" rel="stylesheet" type="text/css">
  <title>{{.Title}} | {{.SiteName}}</title>
</head>

<body>
<header>
  <a href="index.html">Home</a>
</header>

<article>
  <h1>{{.Title}}</h1>
  <time>{{formatDate .RawDate}}</time>
  {{.Content}}
</article>
</body>
</html>
{{end}}
