{{define "index.tmpl.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{.SiteDescription}}">
  <meta name="author" content="{{.SiteAuthor}}">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <title>{{.SiteTitle}}</title>
</head>

<body>

<h1>{{.SiteName}} </h1>

<!-- <div class="links"> -->
<!-- <a href="mailto:arpnghosh@protonmail.com">Email</a> | -->
<!-- <a href="">RSS</a> | -->
<!-- <a href="https://github.com/arpnghosh">GitHub</a> -->
<!-- </div> -->

<h2> Writings </h2>

{{range .Posts}}
<h3 class="post">
  <span class="post-date">{{.Date}}</span>
  <a class="post-link" href="{{.Slug}}.html">{{.Title}}</a>
</h3>
{{end}}

</body>
</html>
{{end}}
